
.test1{
    width:100px;
    background-color: #fff;
}

.test2{
    width:140px;
    background-color: #cbcbcb;
}



.test3{
    width:190px;
    background-color: #cbcbcb;
}



.test4{
    width:3000px;
    background-color: #000000;
}